astpretty>=3.0.0
asttokens>=2.2.0
blinker>=1.5
click>=7.1.2
datasets>=2.7.1
itsdangerous>=1.1.0
Jinja2>=2.11.2
lawrouge>=2.0.0
MarkupSafe>=1.1.1
nltk>=3.7
numpy>=1.19.0
python-dotenv>=0.21.0
torch>=1.7.1+cu110
transformers>=4.24.0
Werkzeug>=1.0.1
prettytable>=3.3.0
tqdm>=4.64.0
joblib>=1.1.0
pandas>=1.0.5
scikit-learn>=1.0.2
configobj>=5.0.6
tokenizers~=0.13.2
app~=0.0.1